/* globel css  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background: #201D20;
}

/* navbar css */
.top-navbar {
    width: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    transition: all 1s;
    background-color: #030404;
}

.navbar {
    padding: 0vw 0vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 30%;
    padding-left: 10vw;
    /* animation: fadeInDown 2s; */
}
.logo img {
    padding: .5vw 0;
    width: 70%;
    cursor: pointer;
    position: relative;
    animation-name: logo1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes logo1{
    20%{
      margin-top:30px;
    }
}
.nav {
    width: 80%;
    display: flex;
    padding-left: 16vw;
    flex-direction: row;
    align-items: center;
    gap: 1.5vw;
}

.nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.nav a li {
    padding: 0.5vw 1.3vw;
    font-size: 0.9vw;
    font-weight: 200;
    line-height: 2vw;
    color: #c5bcbc;
    list-style: none;
    transition: all 0.5s;
    border-radius: 1vw;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.nav .button {
    padding: 1.5vw 1.5vw;
    font-style: normal;
    font-size: 1.1vw;
    font-weight: 600;
    line-height: 2vw;
    color: #ffffff;
    background: transparent;
    border: 1px solid #F8F8FD;
    border-radius: 1vw;
    transition: all 0.5s;
    margin-top: -1.5vw;
}

.nav .button:hover {
    transform: translateY(-0.5vw);
    border-color: #10b826;
    color: #000000;
    background: #B7FF8D;
}

.nav a:hover li {
    background: #B7FF8D;
    transform: translateY(-0.5vw);
    border-color: #10b826;
    position: relative;
    border-radius: 1vw;
    top: -0.3vw;
    animation: all 2s;
}

.nav li:hover {
    color: #000000;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


/* ghost section css */
.skull {
    width: 100%;
    height: auto;
    padding: 0vw 10% 0 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -2vw;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skull .bg {
    width: 65%;
    height: auto;
    overflow: visible;
}

.skull .bg img {
    width: 70vw;
    position:initial;
    animation-name: img1;
    animation-duration: 0.5s;
    animation-iteration-count: 20;
}
@keyframes img{
    from{
        width: 0vw;
    }
    to{
        width: 70vw;
    }
}

.skull .left {
    color: #FFFFFF;
    padding-left: 2%;
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    z-index: 100;
}

.skull .left h3 {
    line-height: 2vw;
    margin-bottom: 1vw;
    font-weight: 900;
}

.left h2 {
    font-size: 4.5vw;
    line-height: 100%;
    opacity: 1;
    font-weight: 900;
    background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 3s;
}

h2:hover {
    background-position: 0 0;
}

.skull .left p {
    font-size: 15px;
    color: #e4dcdc;
    text-align: unset;
    opacity: 1;
    font-weight: 400;
    line-height: 2vw;
}

.skull .left a {
    width: 35%;
    height: auto;
    transition: all 1s;
    text-align: center;
    list-style: none;
}

.skull .left a img {
    width: 100%;
}

.skull .left a li {
    font-size: 1vw;
    color: #303056;
    font-weight: 600;
    margin-top: -4vw;
    transition: all 1s;
}

.left a p {
    display: none;
}

.skull .left a:hover li {
    color: #000000;
}

.skull .left a:hover {
    margin-top: -1vw;
    width: 34%;
}


/* about section css */
.about {
    width: 100%;
    padding: 6vw 20vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-top {
    border-top: rgb(70, 68, 68) solid 2px;
    margin-top: vw;
}

.about-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vw;
    text-align: center;
    color: #FFFFFF;
    border-left: rgb(70, 68, 68) solid 2px;
    border-right: rgb(70, 68, 68) solid 2px;
    border-bottom: rgb(70, 68, 68) solid 2px;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background: linear-gradient(123.89deg, #242424 5.28%, #000000 111.77%);
    box-shadow: 0px 4px 52px rgba(255, 255, 255, 0.07);
    gap: 2vw;
}

.us {
    display: flex;
    flex-direction: row;
    padding: 0vw 14vw;
}

.us h2 {
    font-size: 45px;
}

.about-center h1 {
    font-size: 50px;
    font-weight: 800;
    background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 4s;
}

h1:hover {
    background-position: 0 0;
}

.about-center p {
    width: 100%;
    font-size: 17.8px;
    font-weight: 500;
    line-height: 1.9vw;
}

.about hr {
    padding-top: 3vw;
    border: rgb(70, 68, 68) solid 2px;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    background: linear-gradient(123.89deg, #242424 5.28%, #000000 111.77%);
    box-shadow: 0px 4px 52px rgba(255, 255, 255, 0.07);
}

/* Our Technology section css */
.our-technology {
    display: flex;
    padding: 0vw 10vw;
    padding-top: 25vw;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 2vw;
}

.left-technology {
    width: 68%;
    color: #FFFFFF;
}

.left-technology h1 {
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 2s;
}

h1:hover {
    background-position: 0 0;
}

.left-technology p {
    font-size: 15px;
    line-height: 2vw;
    font-weight: 400;
    color: rgb(199, 192, 192);
}

.right-technology {
    width: 100%;
    margin-top: -25vw;
}

/* pricing section css */
.pricing {
    width: 100%;
    padding: 3vw 20vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 5vw;
}

.top-pricing {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.top-pricing h1 {
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 4s;
}

h1:hover {
    background-position: 0 0;
}

.top-pricing p {
    width: 100%;
    color: #cfcbcb;
    font-size: 19px;
    font-weight: 500;
    line-height: 2vw;
}

.center-pricing {
    padding: 0vw 19.3vw;
}

.bottom-pricing {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    width: 100%;
    padding-left: 4vw;
    padding: 0.5vw 0.5vw;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: #292729 solid 1px;
    border-radius: 0.9vw;
}

.bottom-pricing a {
    width: 10vw;
    padding: 0.8vw;
    border-radius: 0.8vw;
    color: #cfcbcb;
}

.bottom-pricing a:nth-child(1) {
    background: #3C3036;
}

.bottom-pricing a:nth-child() {
    background: #3C3036;
}

.monthly {
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
    gap: 3vw;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.monthly1 {
    padding: 4vw 5.3vw;
    text-align: center;
    color: #f8f8f8;
    background: linear-gradient(123.89deg, #000000 5.28%, #242424 111.77%);
    border-radius: 1.5vw;
}

.monthly1 p {
    font-size: 50px;
    font-weight: 900;
}

.weekly {
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
    gap: 3.8vw;
    color: #FFFFFF;
}

/* buy-back section css */
.buy-back {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15vw 5vw;
    padding: 0vw 5vw;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rocket {
    width: 70%;
    animation-name: img2;
    animation-duration: 2s;
    animation-iteration-count: 2;
}
/* @keyframes img2{
    from{
        width: 0vw;
    }
    to{
        width: 70%;
        top: 300px;
    }
} */

/* .buy-back:hover .rocket img{
    animation: fadeInUp 4s;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: fadeInUp;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
} */


.right-buy-back {
    width: 50%;
    padding-top: 12vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

.right-buy-back h1 {
    font-size: 55px;
    font-weight: 900;
    line-height: 3.5vw;
    background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 4s;
}

h1:hover {
    background-position: 0 0;
}

.right-buy-back p {
    width: 90%;
    font-size: 15.53px;
    color: #cfcbcb;
    line-height: 2vw;
    justify-content: flex-start;
    font-weight: 400;
}

.right-buy-back a li {
    list-style: none;
    padding: 4.5vw;
    color: #303056;
    font-weight: 700;
    font-size: 17px;
    margin-top: -9vw;
    transition: 0.5s;
}

/* Roadmap section css */
.roadmap1 {
    width: 100%;
    padding: 17vw;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-roadmap {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vw;
    padding: 0vw 10vw;
}

.top-roadmap h1 {
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 3s;
}

h1:hover {
    background-position: 0 0;
}

.top-roadmap p {
    font-size: 17px;
    font-weight: 500;
    line-height: 2vw;
    color: #e4dddd;
}

/* bottom-roadmap section css */
.bottom-roadmap {
    position: relative;
    max-width: 100%;
    margin: 100px auto;
}

.roadmap {
    padding: 0vw;
    position: relative;
    width: 45%;
    padding: 1vw;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(-0px);
    }
}

.roadmap:nth-child(1) {
    animation-delay: 0s;
}

.roadmap:nth-child(2) {
    animation-delay: 1s;
}

.roadmap:nth-child(3) {
    animation-delay: 2s;
}

.roadmap:nth-child(4) {
    animation-delay: 3s;
}

.textbox {
    position: relative;
    padding: 4vw;
    background: linear-gradient(123.89deg, #000000 5.28%, #242424 111.77%);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    border-radius: 2vw;
}

.roadmap h3 {
    font-size: 1.4vw;
    line-height: 2.5vw;
    color: #FFFFFF;
    margin-bottom: 1.5vw;
}

.roadmap h2 {
    font-size: 2vw;
    text-align: initial;
}

.textbox li {
    font-family: 'Quicksand', sans-serif;
    list-style-type: disc;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #ffffff;
    opacity: .6;
}

.left-roadmap {
    left: 0;
}

.left-roadmap:after {
    content: "";
    width: 39%;
    height: 95%;
    background-color: #250D50;
    position: absolute;
    top: 2.3%;
    left: 59%;
    border-radius: 1vw;
    border: 3px solid;
    border-color: #A7DE93;
    border-left: none;
    background-color: transparent;
    z-index: -1;
}

.left-roadmap:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 2.25vw;
    background: #2E292C;
    top: 47%;
    left: 102%;
    transform: rotate(90deg);
}

.right-roadmap {
    left: 50%;
}

.right-roadmap:after {
    content: "";
    width: 40%;
    height: 95%;
    background-color: #250D50;
    position: absolute;
    top: 2.3%;
    left: 1%;
    border-radius: 1vw;
    border: 3px solid;
    border-color: #A7DE93;
    border-right: none;
    background-color: transparent;
    z-index: -1;
}

.right-roadmap:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 1.97vw;
    background: #2E292C;
    top: 47%;
    left: -2.75%;
    transform: rotate(90deg);
}

.bottom-roadmap:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 81vw;
    border-radius: 8px;
    background: #2E292C;
    top: 10%;
    left: 47.5%;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    75% {
        height: 75;
    }
}

/* join section css */
.join {
    width: 100%;
    padding: 0vw 20vw;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-join {
    display: flex;
    flex-direction: column;
    padding: 4vw;
    border-radius: 1.5vw;
    gap: 2vw;
    text-align: center;
    background: linear-gradient(180deg, #A7DE93 0%, rgba(77, 71, 75, 0) 100%);
}

.center-join h1 {
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 3s;
}

h1:hover {
    background-position: 0 0;
}

.center-join p {
    width: 100%;
    padding: 0vw 5.5vw;
    font-size: 18px;
    font-weight: 500;
    color: #e4dcdc;
    line-height: 2vw;
}

/* logo-links section css */
.logo-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5vw 10vw;
    gap: 6vw;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-para {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 17px;
    line-height: 2vw;
    font-weight: 500;
    gap: 1vw;
    color: #f5efef;
}

.links {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 4vw;
}

.links a p {
    color: #e0dada;
    font-size: 18px;
    font-weight: 400;
    line-height: 2vw;
}

.links a:hover p {
    text-decoration: underline;
}

.logo2-links2 {
    display: flex;
    flex-direction: row;
    gap: 7vw;
}

.roadmap-2 {
    color: #e0dada;
    font-size: 17px;
    font-weight: 400;
    line-height: 2vw;
    margin-top: 4vw;
}

.roadmap-2 a p {
    color: #e0dada;
    font-size: 17px;
    font-weight: 400;
    line-height: 2vw;
}

.roadmap-2 a:hover p {
    text-decoration: underline;
}

.socials {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
}

.socials .logo-2 {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.socials img {
    width: 3vw;
    height: auto;
    padding: 0.1vw;
    transition: all 0.3s;
}

.socials a:hover img {
    border: 1px solid #ffffff;
    border-radius: 3vw;
}

@media (max-width:1300px) {

    /* .navbar section css 1300px */
    .logo img {
        width: 65%;
    }

    .nav a li {
        font-size: 9px;
    }

    /* .ghost section css 1300px */
    .skull h3 {
        font-size: 15px;
    }

    /* .about section css 1300px */
    .about-center h1 {
        font-size: 30px;
    }

    .us h2 {
        font-size: 30px;
    }

    .about-center p {
        font-size: 14px;
    }

    /* .our-technology section css 1300px */
    .left-technology h1 {
        font-size: 30px;
    }

    .left-technology p {
        font-size: 14px;
    }

    .right-technology {
        margin-top: -19vw;
    }

    /* .pricing section css 1300px */
    .top-pricing h1 {
        font-size: 30px;
    }

    .top-pricing p {
        font-size: 14px;
    }

    /* .buy-back section css 1300px */
    .right-buy-back h1 {
        font-size: 40px;
    }

    .right-buy-back a li {
        margin-top: -9.5vw;
        font-size: 13px;
    }

    /* .roadmap section css 1300px */
    .top-roadmap h1 {
        font-size: 40px;
    }

    .top-roadmap p {
        font-size: 14px;
    }

    /* .join section css 1300px */
    .join h1 {
        font-size: 35px;
    }

    .join p {
        font-size: 14px;
    }

    .links h2 {
        font-size: 16px;
        font-weight: 900;
    }

    .links a p {
        line-height: 2.5vw;
    }

    .roadmap-2 a p {
        line-height: 2.5vw;
    }
}

@media (max-width:980px) {
    .top-navbar {
        width: 100%;
        top: 0;
        z-index: 1000;
        position: fixed;
        transition: all 1s;
    }

    .navbar {
        padding: 0vw 10vw;
        width: 100%;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }

    .logo {
        width: 20%;
        padding-left: 1vw;
    }

    .logo img {
        padding: .5vw 0;
        width: 50%;
        cursor: pointer;
        animation: fadeInDown 2s;
    }

    .nav {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: flex-end; */
        gap: 5vw;
    }

    .nav a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5vw;
    }

    .nav a .effect {
        width: 1vw;
        height: 1vw;
    }

    .nav a li {
        padding: 0.5vw 1.5vw;
        font-style: normal;
        font-size: 6px;
        font-weight: 200;
        line-height: 2vw;
        color: #c5bcbc;
        transition: all 0.5s;
        border-radius: 1vw;
        list-style: none;
    }

    .nav .button {
        padding: 1.5vw 1.5vw;
        font-style: normal;
        font-size: 7px;
        font-weight: 600;
        line-height: 2vw;
        color: #ffffff;
        background: transparent;
        border: 1px solid #F8F8FD;
        border-radius: 1vw;
        transition: all 0.5s;
    }

    .nav .button:hover {
        transform: translateY(-0.5vw);
        border-color: #10b826;
        color: #000000;
        background: #B7FF8D;
    }

    .nav a:hover {
        background: #B7FF8D;
        border-color: #10b826;
        position: relative;
        border-radius: 1vw;
        top: -1vw;
        animation: all 2s;
    }

    .nav li:hover {
        color: #000000;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    .menu-icon {
        display: none;
    }

    /* ghost section css 960px */
    .skull {
        width: 100%;
        height: auto;
        padding: 5vw 10% 0 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -2vw;
        position: relative;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .skull .left {
        color: #FFFFFF;
        padding-left: 2%;
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        z-index: 100;
    }

    .skull .left h3 {
        font-size: 10px;
        line-height: 2vw;
        margin-bottom: 1vw;
        font-weight: 900;
    }

    .left h2 {
        font-size: 4.5vw;
        line-height: 100%;
        opacity: 1;
        font-weight: 900;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 3s;
    }

    h2:hover {
        background-position: 0 0;
    }

    .skull .left p {
        padding-top: 1vw;
        font-size: 11px;
        color: #e4dcdc;
        text-align: unset;
        opacity: 1;
        font-weight: 00;
        line-height: 2vw;
    }

    .skull .left a {
        width: 35%;
        height: auto;
        text-align: center;
        transition: all 1s;
        list-style: none;
    }

    .skull .left a img {
        width: 100%;
    }

    .skull .left a li {
        font-size: 1vw;
        color: #303056;
        font-weight: 600;
        margin-top: -4vw;
        transition: all 1s;
    }

    .skull .left a:hover li {
        color: #000000;
    }

    .skull .left a:hover {
        margin-top: -1vw;
        width: 34%;
    }

    .skull .bg {
        width: 65%;
        height: auto;
        overflow: visible;
    }

    .skull .bg img {
        width: 70vw;
        animation: fadeOut 4s;
        animation-iteration-count: infinite;
    }

    /* about section css 980px  */
    .about {
        width: 100%;
        padding: 6vw 25vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .about-top {
        border-top: rgb(70, 68, 68) solid 2px;
        margin-top: 0vw;
    }

    .about-center {
        width: 100%;
        padding: 5vw;
        text-align: center;
        color: #FFFFFF;
        background-color: #171716;
        border-left: rgb(70, 68, 68) solid 2px;
        border-right: rgb(70, 68, 68) solid 2px;
        border-bottom: rgb(70, 68, 68) solid 2px;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    .us {
        display: flex;
        flex-direction: row;
        padding: 0vw 14vw;
    }

    .us h2 {
        font-size: 15px;
    }

    .about-center h1 {
        width: 100%;
        font-size: 15px;
        font-weight: 800;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 4s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .about-center p {
        width: 100%;
        font-size: 10px;
        font-weight: 500;
        line-height: 1.9vw;
    }

    .about hr {
        padding-top: 3vw;
        background-color: #171716;
        border: rgb(70, 68, 68) solid 2px;
        border-top-right-radius: 1vw;
        border-top-left-radius: 1vw;
    }

    /* Our Technology section css 980px */
    .our-technology {
        display: flex;
        padding: 0vw 10vw;
        padding-top: 25vw;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        gap: 3vw;
    }

    .left-technology {
        width: 68%;
        color: #FFFFFF;
    }

    .left-technology h1 {
        font-size: 22px;
        font-weight: 900;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 2s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .left-technology p {
        font-size: 9px;
        line-height: 2vw;
        font-weight: 800;
        color: rgb(199, 192, 192);
    }

    .right-technology {
        width: 100%;
        margin-top: -18vw;
    }

    /* .pricing section css 980px */
    .pricing {
        width: 100%;
        padding: 6vw 20vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        gap: 5vw;
    }

    .top-pricing {
        width: 100%;
        text-align: center;
        color: #FFFFFF;
    }

    .top-pricing h1 {
        font-size: 30px;
        font-weight: 900;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 4s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .top-pricing p {
        width: 100%;
        color: #cfcbcb;
        font-size: 13px;
        font-weight: 500;
        line-height: 3vw;
    }

    .center-pricing {
        padding: 0vw 12vw;
    }

    .bottom-pricing {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;
        width: 100%;
        padding-left: 4vw;
        padding: 0.5vw 0.5vw;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        border: #292729 solid 1px;
        border-radius: 2vw;
    }

    .bottom-pricing a {
        width: 17vw;
        padding: 0.8vw;
        border-radius: 1.5vw;
        color: #cfcbcb;
    }

    .bottom-pricing a:nth-child(1) {
        background: #3C3036;
    }

    .bottom-pricing a:nth-child() {
        background: #3C3036;
    }

    .monthly {
        display: flex;
        flex-direction: row;
        margin-top: 5vw;
        gap: 3vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .monthly1 {
        padding: 3vw 5vw;
        text-align: center;
        color: #f8f8f8;
        background: linear-gradient(123.89deg, #000000 5.28%, #242424 111.77%);
        border-radius: 1.5vw;
    }

    .monthly1 h2 {
        font-size: 15px;
    }

    .monthly1 p {
        font-size: 20px;
        font-weight: 900;
    }

    .weekly {
        display: flex;
        flex-direction: row;
        margin-top: 5vw;
        gap: 3.8vw;
        color: #FFFFFF;
    }

    /* buy-back section css  980px */
    .buy-back {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 15vw 5vw;
        padding: 0vw 5vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .rocket {
        width: 70%;
        padding-top: 2vw;
    }

    .right-buy-back {
        width: 50%;
        padding-top: 12vw;
        display: flex;
        flex-direction: column;
        gap: 2.5vw;
    }

    .right-buy-back h1 {
        font-size: 35px;
        font-weight: 900;
        line-height: 4vw;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 4s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .right-buy-back p {
        width: 100%;
        font-size: 11px;
        color: #cfcbcb;
        line-height: 2vw;
        justify-content: flex-start;
        font-weight: 400;
    }

    .right-buy-back img {
        width: 45%;
    }

    .right-buy-back a li {
        list-style: none;
        padding: 4.4vw;
        color: #303056;
        font-weight: 700;
        font-size: 14px;
        margin-top: -11vw;
        transition: 0.5s;
    }

    /* .roadmap section css 980px  */
    .roadmap1 {
        width: 100%;
        padding: 17vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .top-roadmap {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2vw;
        padding: 0vw 10vw;
    }

    .top-roadmap h1 {
        font-size: 40px;
        font-weight: 900;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 3s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .top-roadmap p {
        font-size: 12px;
        font-weight: 500;
        line-height: 2vw;
        color: #e4dddd;
    }

    /* join section css 980px */
    .join {
        width: 100%;
        padding: 0vw 20vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .center-join {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        border-radius: 3vw;
        gap: 2vw;
        text-align: center;
        background: linear-gradient(180deg, #A7DE93 0%, rgba(77, 71, 75, 0) 100%);
    }

    .center-join h1 {
        font-size: 25px;
        font-weight: 900;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 3s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .center-join p {
        width: 100%;
        padding: 0vw 5.5vw;
        font-size: 10px;
        font-weight: 600;
        color: #e4dcdc;
        line-height: 2vw;
    }

    /* logo-links section css 980px */
    .logo-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5vw 10vw;
        gap: 6vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .image-para {
        display: block;
        margin: auto;
        flex-direction: column;
        width: 45%;
        font-size: 17px;
        line-height: 2vw;
        font-weight: 500;
        gap: 1vw;
        color: #f5efef;

    }

    .image-para img {
        width: 100%;
    }

    .image-para p {
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-top: 4vw;
    }

    .links h2 {
        font-size: 17px;
    }

    .links a p {
        color: #e0dada;
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        line-height: 4vw;
    }

    .links a:hover p {
        text-decoration: underline;
    }

    .logo2-links2 {
        display: flex;
        flex-direction: row;
        padding: 0vw 8vw;
        gap: 14vw;
    }

    .roadmap-2 {
        color: #e0dada;
        font-size: 15px;
        font-weight: 400;
        line-height: 2vw;
        margin-top: 4vw;
    }

    .roadmap-2 a p {
        color: #e0dada;
        font-size: 15px;
        font-weight: 400;
        line-height: 4vw;
    }

    .roadmap-2 a:hover p {
        text-decoration: underline;
    }

    .socials {
        display: flex;
        flex-direction: column;
        margin-top: 4vw;
    }

    .socials .logo-2 {
        display: flex;
        flex-direction: row;
        gap: 1.5vw;
    }

    .socials img {
        width: 3vw;
        height: auto;
        padding: 0.1vw;
        transition: all 0.3s;
    }

    .socials a:hover img {
        border: 1px solid #ffffff;
        border-radius: 3vw;
    }

}

@media (max-width:600px) {

    /* navbar section css 600px */
    .nav {
        /* justify-content: flex-end; */
    }

    .navbar {
        display: flex;
        flex-direction: row;
    }

    .nav ul {
        display: flex;
        position: absolute;
        padding-bottom: 2vw;
        top: 60px;
        left: 0;
        right: 0;
        align-items: center;
        flex-direction: column;
        gap: 3vw;
        overflow: hidden;
        background-color: #000000;
        transition: 1s;
    }

    .nav ul li {
        font-size: 20px;
        padding: 4vw;
    }

    .nav .button {
        padding: 3% 4.5vw;
        font-size: 15px;
        width: 80px;
        border-radius: 2.2vw;
    }

    .menu-icon {
        display: block;
        font-size: 30px;
        color: white;
    }

    .logo {
        padding: 0vw 0vw;
    }

    .logo img {
        width: 150%;
    }

    /* ghost section css 600px */
    .skull {
        display: flex;
        flex-direction: column;
        margin: 0vw;
        width: 93%;
        height: auto;
        padding: 0vw 5vw;
        margin-top: -0vw;
        gap: 1vw;
    }

    .skull .left {
        padding: 0vw 1vw;
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 3vw;
        text-align: center;
    }

    .left h2 {
        padding-top: 2vw;
        font-size: 30px;
    }

    .skull .left div p {
        font-size: 10px;
        padding-top: 2vw;
        line-height: 3vw;
    }

    .left a {
        display: block;
        margin: auto;
        width: 100%;
    }

    .left a .li {
        display: flex;
        flex-direction: column;
        font-size: 45px;
        background-color: #efefef;
        margin-top: -4vw;
    }

    /* .about section css 600px */
    .about {
        padding: 20vw 10vw;
    }

    .about-center {
        padding: 7vw;
    }

    .about-center h1 {
        font-size: 20px;
    }

    .about-center p {
        font-size: 10px;
        line-height: 3vw;
    }

    .us {
        display: flex;
        flex-direction: row;
        gap: 0vw;

    }

    .us h2 {
        font-size: 20px;
    }

    /* .our-technology section css 600px */
    .our-technology {
        display: flex;
        flex-direction: column-reverse;
    }

    .left-technology {
        width: 100%;
        text-align: center;
    }

    .left-technology h1 {
        font-size: 30px;
    }

    .left-technology p {
        line-height: 4vw;
        font-weight: 300;
        font-size: 12px;
        color: #FFFFFF;
    }

    /* .pricing section css 600px */
    .pricing {
        padding: 10vw 5vw;
    }

    .top-pricing h1 {
        font-size: 25px;
    }

    .top-pricing p {
        font-weight: 300;
        font-size: 12px;
        line-height: 4vw;
        color: #FFFFFF;
    }

    .center-pricing {
        padding: 0vw 19.3vw;
    }

    .bottom-pricing {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;
        width: 100%;
        padding-left: 4vw;
        padding: 1vw 1vw;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        border: #292729 solid 1px;
        border-radius: 2.4vw;
    }

    .bottom-pricing a {
        width: 55%;
        padding: 1.4vw;
        border-radius: 3vw;
        color: #cfcbcb;
    }

    .bottom-pricing a:nth-child(1) {
        background: #3C3036;
    }

    .bottom-pricing a:nth-child() {
        background: #3C3036;
    }

    .monthly {
        display: flex;
        flex-direction: row;
        margin-top: 5vw;
        padding: 0vw 10vw;
        /* padding-left: 12vw; */
        justify-content: space-between;
        gap: 3vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .monthly1 {
        padding: 2vw 4vw;
        text-align: center;
        color: #f8f8f8;
        background: linear-gradient(123.89deg, #000000 5.28%, #242424 111.77%);
        border-radius: 1.5vw;
    }

    .monthly1 h2 {
        font-size: 10px;
    }

    .monthly1 p {
        font-size: 13px;
        font-weight: 900;
    }

    .weekly {
        display: flex;
        flex-direction: row;
        margin-top: 5vw;
        gap: 3.8vw;
        color: #FFFFFF;
    }

    /* .buy-back section css 600px */
    .buy-back {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 15vw 5vw;
        padding: 0vw 5vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .rocket {
        width: 90%;
        padding-left: 10vw;
    }

    .right-buy-back {
        width: 100%;
        padding-top: 12vw;
        display: flex;
        flex-direction: column;
        gap: 7vw;
    }

    .right-buy-back h1 {
        padding: 0vw 20vw;
        font-size: 30px;
        font-weight: 900;
        line-height: 7vw;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 4s;

    }

    h1:hover {
        background-position: 0 0;
    }

    .right-buy-back p {
        width: 100%;
        font-size: 11px;
        color: #cfcbcb;
        text-align: center;
        line-height: 4vw;
        justify-content: flex-start;
        padding: 0vw 5vw;
        font-weight: 300;
    }

    .right-buy-back a li {
        list-style: none;
        padding: 5vw;
        color: #262424;
        font-weight: 700;
        font-size: 13px;
        margin-top: -13.9vw;
        transition: 0.5s;
    }

    .button {
        padding-left: 33vw;
        width: 100%;
    }

    /* Roadmap section css 600px */
    .roadmap1 {
        width: 100%;
        padding: 17vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .top-roadmap {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2vw;
        padding: 0vw 0vw;
    }

    .top-roadmap h1 {
        font-size: 35px;
        font-weight: 900;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 3s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .top-roadmap p {
        font-size: 10px;
        font-weight: 500;
        line-height: 3vw;
        color: #e4dddd;
    }

    /* .bottom-roadmap section css 600px */
    .roadmap .textbox {
        padding-left: 6vw;
    }

    .roadmap .textbox h2 {
        font-size: 5vw;
        text-align: initial;
    }

    .roadmap1 {
        padding: 0vw 5vw;
    }

    .roadmap .textbox {
        width: 100%;
    }

    .roadmap .textbox li {
        display: flex;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
        list-style-type: disc;
        font-size: 7px;
        line-height: 3vw;
        color: #ffffff;
        opacity: .6;
    }

    .bottom-roadmap .left-roadmap:after {
        content: "";
        width: 20%;
        height: 100%;
        background-color: #250D50;
        position: absolute;
        top: 0;
        left: 80%;
        border-radius: 1vw;
        border: 1px solid;
        border-color: rgba(76, 206, 172, 0.7);
        border-left: none;
        background-color: transparent;
        z-index: -1;
    }


    .bottom-roadmap .left-roadmap:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 2.8vw;
        background: linear-gradient(rgba(76, 206, 172, 0.7), rgba(0, 173, 234, 0.7));
        top: 47%;
        left: 103%;
        transform: rotate(90deg);
    }

    .bottom-roadmap .right-roadmap:after {
        content: "";
        width: 20%;
        height: 100%;
        background-color: #250D50;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1vw;
        border: 1px solid;
        border-color: rgba(76, 206, 172, 0.7);
        border-right: none;
        background-color: transparent;
        z-index: -1;
    }

    .bottom-roadmap .right-roadmap:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 2.5vw;
        background: linear-gradient(rgba(76, 206, 172, 0.7), rgba(0, 173, 234, 0.7));
        top: 47%;
        left: -3%;
        transform: rotate(90deg);
    }

    .bottom-roadmap:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 85%;
        background: linear-gradient(rgba(76, 206, 172, 0.7), rgba(0, 173, 234, 0.7));
        top: 8%;
        left: 47.5%;
        z-index: -1;
        animation: moveline 6s linear forwards;
    }

    /* join section css 600px */
    .join {
        width: 100%;
        padding: 0vw 5vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .center-join {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        border-radius: 1.5vw;
        gap: 2vw;
        text-align: center;
        background: linear-gradient(180deg, #A7DE93 0%, rgba(77, 71, 75, 0) 100%);
    }

    .center-join h1 {
        font-size: 25px;
        font-weight: 900;
        background: linear-gradient(to right, #B7FF8D 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 3s;
    }

    h1:hover {
        background-position: 0 0;
    }

    .center-join p {
        width: 100%;
        padding: 0vw 5.5vw;
        font-size: 10px;
        font-weight: 400;
        color: #e4dcdc;
        line-height: 3vw;
    }

    /* logo-links section css 600px */
    .logo-links {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 5vw 5vw;
        gap: 6vw;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .image-para {
        /* display: block; */
        /* margin: auto; */
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-size: 17px;
        line-height: 2vw;
        font-weight: 500;
        gap: 1vw;
        color: #f5efef;

    }

    .image-para img {
        width: 50%;
    }

    .image-para p {
        width: 100%;
        font-size: 10px;
        text-align: center;
        padding: 0vw 5vw;
        line-height: 4vw;
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 4vw;
    }

    .links h2 {
        font-size: 25px;
    }

    .links a p {
        color: #e0dada;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        line-height: 6vw;
    }

    .links a:hover p {
        text-decoration: underline;
    }

    .logo2-links2 {
        display: flex;
        flex-direction: column;
        /* padding-left: 25vw; */
        text-align: center;
        gap: 2vw;
    }

    .roadmap-2 {
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 2vw;
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        gap: 7vw;
    }

    .roadmap-2 a p {
        color: #e0dada;
        font-size: 13px;
        font-weight: 400;
        line-height: 2vw;
    }

    .roadmap-2 a:hover p {
        text-decoration: underline;
    }

    .socials {
        display: flex;
        flex-direction: column;
        margin-top: 4vw;
        gap: 2vw;
    }

    .socials .logo-2 {
        display: flex;
        flex-direction: row;
        gap: 4vw;
        padding-left: 28vw;
    }

    .socials img {
        width: 8vw;
        height: auto;
        padding: 0.1vw;
        transition: all 0.3s;
    }

    .socials a:hover img {
        border: 1px solid #ffffff;
        border-radius: 5vw;
    }
}